In [23]:
#Testing pls work

print('Please at least be able to print stuff...')

Please at least be able to print stuff...

In [30]:
#Ok...let's try importing stuff then...
import pandas as pd
import requests
import io

In [25]:
def download_worldbank(indicator, countries, date_start, date_end):
    url_base = 'http://api.worldbank.org/v2/'  # Base URL for the World Bank API
    country_codes = ';'.join(countries)  # Combine country codes into a string
    url = url_base + f'country/{country_codes}/indicator/{indicator}?date={date_start}:{date_end}&per_page=30000' #create the url with start and end date.
    url = url_base + f'country/{country_codes}/indicator/{indicator}?per_page=30000' # This line overrides the previous one. It will ignore start/end date.

    response = requests.get(url)  # Download data from the URL
    df = pd.read_xml(response.content)  # Convert the downloaded data to a table
    return df  # Return the table

In [26]:
#'SL.AGR.EMPL.ZS','SP.RUR.TOTL.ZG','SI.POV.NAHC', 'SI.POV.GINI','IT.NET.SECR.P6','IT.CEL.SETS.P2','FP.CPI.TOTL','FX.OWN.TOTL.ZS','EG.ELC.ACCS.ZS','EG.ELC.ACCS.RU.ZS','BX.TRF.PWKR.DT.GD.ZS'
ag_emp = download_worldbank(
    indicator = 'SL.AGR.EMPL.ZS',
    countries = ['BGD', 'IND','VNM','LAO','IND','THA','KHM','MYS','SGP','MMR','PHL','BRN'],
    date_start = '2021',
    date_end = '2023'
)

In [29]:
ag_emp.head(5)

ag_emp.info()

ag_emp.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        715 non-null    object
 1   country          715 non-null    object
 2   countryiso3code  715 non-null    object
 3   date             715 non-null    int64
 4   value            363 non-null    float64
 5   unit             0 non-null      float64
 6   obs_status       0 non-null      float64
 7   decimal          715 non-null    int64
dtypes: float64(3), int64(2), object(3)
memory usage: 44.8+ KB

              date       value  unit  obs_status  decimal
count   715.000000  363.000000   0.0         0.0    715.0
mean   1992.000000   39.995062   NaN         NaN      0.0
std      18.774797   25.074010   NaN         NaN      0.0
min    1960.000000    0.090952   NaN         NaN      0.0
25%    1976.000000   15.628217   NaN         NaN      0.0
50%    1992.000000   44.206308   NaN         NaN      0.0
75%    2008.000000   60.592428   NaN         NaN      0.0
max    2024.000000   86.474423   NaN         NaN      0.0