In [18]:
#Testing pls work

print('Please at least be able to print stuff...')

Please at least be able to print stuff...

In [19]:
#Ok...let's try importing stuff then...
import pandas as pd
import requests

In [20]:
def download_worldbank(indicator, countries, date_start, date_end):
    url_base = 'http://api.worldbank.org/v2/'  # Base URL for the World Bank API
    country_codes = ';'.join(countries)  # Combine country codes into a string
    url = url_base + f'country/{country_codes}/indicator/{indicator}?date={date_start}:{date_end}&per_page=30000' #create the url with start and end date.
    url = url_base + f'country/{country_codes}/indicator/{indicator}?per_page=30000' # This line overrides the previous one. It will ignore start/end date.

    response = requests.get(url)  # Download data from the URL
    df = pd.read_xml(response.content)  # Convert the downloaded data to a table
    return df  # Return the table

In [21]:
#'SL.AGR.EMPL.ZS','SP.RUR.TOTL.ZG','SI.POV.NAHC', 'SI.POV.GINI','IT.NET.SECR.P6','IT.CEL.SETS.P2','FP.CPI.TOTL','FX.OWN.TOTL.ZS','EG.ELC.ACCS.ZS','EG.ELC.ACCS.RU.ZS','BX.TRF.PWKR.DT.GD.ZS'
wb_data = download_worldbank(
    indicator = 'SL.AGR.EMPL.ZS',
    countries = ['BGD', 'IND','VNM','LAO','IND','THA','KHM','MYS','SGP','MMR','PHL','BRN'],
    date_start = '2021',
    date_end = '2023'
)

In [22]:
wb_data.head(5)

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,Employment in agriculture (% of total employme...,Bangladesh,BGD,2024,NaN,NaN,NaN,0
1,Employment in agriculture (% of total employme...,Bangladesh,BGD,2023,35.274072,NaN,NaN,0
2,Employment in agriculture (% of total employme...,Bangladesh,BGD,2022,35.662164,NaN,NaN,0
3,Employment in agriculture (% of total employme...,Bangladesh,BGD,2021,37.306117,NaN,NaN,0
4,Employment in agriculture (% of total employme...,Bangladesh,BGD,2020,37.971569,NaN,NaN,0